[submodule "blenderserver"]
	path = blenderserver
	url = https://github.com/secosun/blenderserver.git
[submodule "blenderworker"]
	path = blenderworker
	url = https://github.com/secosun/blendermcp.git
[submodule "renderui"]
	path = renderui
	url = https://github.com/secosun/renderui.git
